<div class="container">
  <section class="bemVindo">
    <h1>
      <i class="material-icons">attach_money</i> Guardinheiro
      <i class="material-icons">attach_money</i>
    </h1>
    <div class="subtitle">
      <h2 class="subT">Inicie a Jornada rumo ao Controle Financeiro</h2>
    </div>

    <img
      class="imgTitle"
      src="assets/images/stock_broker.svg"
      alt="painel-financeiro"
    />

    <div class="btnStart">
      <button mat-raised-button color="primary">VAMOS COMEÇAR</button>
    </div>
  </section>
  <section class="sobreProjeto">
    <div class="sobre">
      <h2>Sobre o Projeto</h2>
      <p>
        Essa aplicação tem como objetivo auxiliar no controle de desepesas,<br />
        foi proposto como tema de trabalho na disciplina de Desenvolvimento web
        <br />
        no Centro Universitário Una
      </p>
      <div class="imgEmblemas">
        <img src="assets/images/star_badge_01.png" alt="" />
        <img src="assets/images/persons_badge_02.png" alt="" />
      </div>
      <p>Para ajuda e colaboração com os autores, contate-nos no github</p>
    </div>
  </section>
  <section class="controleFinancas">
    <div class="texto">
      <h2>Assuma o controle de suas finanças</h2>
      <h3>Visualize métricas sobre seus gastos e receitas mensais.</h3>
      <p>
        Como todo aprendizado, a educação financeira é um processo que deve
        começar desde cedo e continuar por toda a vida. Esse processo cumulativo
        constrói as habilidades necessárias para tomar decisões financeiras
        críticas que afetam a capacidade de uma pessoa de alcançar os ativos,
        como educação, propriedade e poupança, que melhoram o bem-estar
        econômico.
      </p>
    </div>
    <img src="assets/images/saving_money.svg" alt="" />
  </section>
  <section class="poupeDinheiro">
    <img src="assets/images/invest.svg" alt="" />
    <div class="texto">
      <h2>Saiba para onde está indo o seu dinheiro</h2>
      <h3>
        Agora você tem uma maneira fácil de entender para onde está indo seu
        dinheiro monitorando seus hábitos de consumo.
      </h3>
      <p>
        Saiba para onde está indo o seu dinheiro . A alfabetização financeira
        não é um fim em si mesma, mas um processo passo a passo. Começa na
        infância e continua ao longo da vida de uma pessoa até a aposentadoria,
        portanto, usar o dinheiro com sabedoria é fundamental para viver uma
        vida bem equilibrada.
      </p>
    </div>
  </section>
  <section class="acompanheGanhos">
    <div class="texto">
      <h2>Alcance seus objetivos financeiros</h2>
      <p>
        A independência financeira é primordial. Alguém disse uma vez que quando
        uma pessoa é financeiramente independente, ela tem a capacidade de viver
        a vida em seus próprios termos. Esse pode ser um dos melhores conselhos
        que você já recebeu. Não importa onde você vá na vida.
      </p>
    </div>
    <img src="assets/images/improved_result.svg" alt="" />
  </section>
</div>
